samples/wpf/DynamicMarkerOverlaySample/DynamicMarkerOverlay/Service References/NaFacilityService/DataService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2299/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataWebService" />
  <xs:element name="GetFacilities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacilitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataWebService" minOccurs="0" name="GetFacilitiesResult" nillable="true" type="q1:ArrayOfFacilityModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>