samples/wpf/DynamicMarkerOverlaySample/DynamicMarkerOverlay/Service References/NaFacilityService/DataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataWebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataWebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFacilityModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FacilityModel" nillable="true" type="tns:FacilityModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFacilityModel" nillable="true" type="tns:ArrayOfFacilityModel" />
  <xs:complexType name="FacilityModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AirportCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PackageAverage" type="xs:double" />
      <xs:element minOccurs="0" name="Packages" type="xs:int" />
      <xs:element minOccurs="0" name="SkidAverage" type="xs:double" />
      <xs:element minOccurs="0" name="Skids" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FacilityModel" nillable="true" type="tns:FacilityModel" />
</xs:schema>